<p id="notice"><%= notice %></p>

<p>
  <b>Post it:</b>
  <%= @comment.post_it %>
</p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
